nav {
    z-index: 9999999;
    top: 0;
    width: 100%;
    background-color: white;
    color: grey;
    padding: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

nav:hover {
    z-index: 9999999;
    background-color: #3e3d3d;
    color: white;
    background: #3e3d3d;
    -webkit-transition: background .5s;
    box-shadow: 0 0 15px rgb(111, 111, 111);
}


ul {
    list-style-type: none;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
    color:white;
}

li {
    display: inline;
    margin-right: 1%;
}