nav {
    z-index: 9999999;
    top: 0;
    width: 100%;
    color: #274156;
    background: #f1f1f1;
    height: 50px;
}

nav:hover {
    z-index: 9999999;
    color: white;
    background: #274156;
    -webkit-transition: background .5s;
    box-shadow: 0 0 0px rgb(111, 111, 111);
}

.colorScheme {
    color: #2F4858;
    color: #F6AE2D;
    color: #274156;
    color: #186fb3;
    color: #605856;
    color: #FBFCFF;
    color: #D0CCD0;
    color: #86BBD8;

}

ul {
    padding-left: 15%;
    list-style-type: none;
}

a {
    line-height: 50px;
}

li {
    display: inline;
    margin-right: 2%;
}

ul {
    margin-top: unset;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    nav {
        z-index: 9999999;
        position: fixed;
        top:unset;
        bottom: 0px;
        width: 100%;
        background: #274156;
        color: white;
        height: 50px;
    }
    li {
        display: block;
        margin-right: 0%;
        width: 33.3%;
        float: left;
        text-align: center;
    }
    ul {
        padding-left: 0%;
        list-style-type: none;
    }
}