nav {
    z-index: 9999999;
    top: 0;
    width: 100%;
    background-color: #FBFCFF;
    color: #274156;
    padding: 1%;
    height: 50px;
}

nav:hover {
    z-index: 9999999;
    background-color: #3e3d3d;
    color: white;
    background: #274156;
    -webkit-transition: background .5s;
    box-shadow: 0 0 0px rgb(111, 111, 111);
}

.colorScheme {
    color: #2F4858;
    color: #F6AE2D;
    color: #274156;
    color: #186fb3;
    color: #605856;
    color: #FBFCFF;
    color: #D0CCD0;
    color: #86BBD8;

}

ul {
    padding-left: 15%;
    list-style-type: none;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
    color: unset;
}

li {
    font-family: 'Lato', Century Gothic, sans-serif;
    font-weight: 500;
    display: inline;
    margin-right: 1%;
}