ul {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
    word-spacing: 5em;
}

li {
    display: inline;
    text-decoration: none;
    color: #777777;
}

.contact {
    display: inline-block;
}

.landing {
    margin-top: 10vh;
}

p {
    max-width: 400px;
}

h1 {
    border-bottom: unset !important;
}