<div itemscope="" itemtype="http://schema.org/Person" class="landing">
  <header>
      <img class="chris-face" itemprop="image" alt="Christopher's Face" src="./assets/chriscerk-face.png">
      <h1>Hi, my name is Chris.</h1>
  </header>

  <p>I built and designed a <a href="https://www.google.com/search?q=chris%20cerk%20tiny%20house">tiny house</a>. Currently, I am a software developer at <span itemprop="affiliation"><a href="https://www.hagerty.com">Hagerty</a></span>.</p>

  <span itemprop="givenName">Christopher</span> <span itemprop="familyName">Cerk</span> | <li><a href="https://github.com/chriscerk">Github</a></li>

</div>