html {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Cardo', serif;
    font-size: 14px;
}

.loading {
    z-index: 9999999;
    display: absolute;
    top: 0;
    background: #186fb3;
    background-image: linear-gradient(155deg, #186fb3 0%, #274156 100%);
    width: 100%;
    height: 100vh;
}

.loading-icon {
    display: block;
    margin: 0 auto;
    padding-top: 35vh;
    text-align: center;
}

svg {
    width: 135;
    height: 140;
    fill: rgb(255, 255, 255);
}

.top-bar {
    width: 100%;
    height: 10px;
    background-color: #186fb3; 
}

main {
    font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 3%;
    color: #3a3a3a;
}

article {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    max-width: 700px;
}

.landing {
    text-align: center;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
    color: unset;
}

body {
    margin: 0;
}

.link {
    cursor: pointer;
    outline:none;
}

p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 115%;
    line-height: 2em;
    max-width: 700px;
}